.xena-theme-dark {
  background: var(--sl-color-gray-10);
  color: var(--sl-color-gray-80);
}

/* Sidebar **/
.xena-theme-dark .sidebar {
  background: var(--sl-color-gray-10);
  border-right-color: var(--sl-color-gray-15);
}

.xena-theme-dark .sidebar li > p {
  color: var(--sl-color-white);
  border-bottom-color: var(--sl-color-gray-20);
}

.xena-theme-dark .sidebar-toggle {
  background-color: hsla(var(--sl-color-gray-hue), var(--sl-color-gray-saturation), 10%, 0.8);
}

.xena-theme-dark .docsify-pagination-container {
  border-top-color: var(--sl-color-gray-20) !important;
}

/* Search */
.xena-theme-dark .sidebar .search input[type='search'] {
  background: var(--sl-input-background-color);
  border-color: var(--sl-input-border-color);
  color: var(--sl-input-color);
}

.xena-theme-dark .sidebar .search input[type='search']:hover {
  border-color: var(--sl-input-border-color-hover);
}

.xena-theme-dark .sidebar .search input[type='search']:focus {
  border-color: var(--sl-input-border-color-focus);
}

.xena-theme-dark .sidebar .clear-button {
  color: var(--sl-color-gray-30);
}

.xena-theme-dark .sidebar .clear-button svg circle {
  fill: currentColor;
}

/* Content */
.xena-theme-dark .component-header {
  border-bottom-color: var(--sl-color-gray-20);
}

.xena-theme-dark .anchor span {
  color: var(--sl-color-white);
}

.xena-theme-dark .markdown-section h2 {
  border-bottom-color: var(--sl-color-gray-20);
}

.xena-theme-dark .markdown-section blockquote {
  border-left-color: var(--sl-color-gray-20);
}

.xena-theme-dark .markdown-section kbd {
  border-color: var(--sl-color-gray-20);
}

/* Tables */
.xena-theme-dark .markdown-section tr:nth-child(2n) {
  background: hsl(var(--sl-color-gray-hue), var(--sl-color-gray-saturation), 13%);
}

.xena-theme-dark .markdown-section td {
  border-top-color: var(--sl-color-gray-20);
  border-bottom-color: var(--sl-color-gray-20);
}

.xena-theme-dark .markdown-section table .attribute-tooltip {
  border-bottom-color: var(--sl-color-gray-30);
}

/* Tips & warnings */
.xena-theme-dark .markdown-section p.tip,
.xena-theme-dark .markdown-section p.warn {
  background-color: hsl(var(--sl-color-gray-hue), var(--sl-color-gray-saturation), 13%);
}

.xena-theme-dark .markdown-section p.tip::before,
.xena-theme-dark .markdown-section p.warn::before {
  color: var(--sl-color-gray-10);
}

.xena-theme-dark .markdown-section p.tip code,
.xena-theme-dark .markdown-section p.warn code {
  background-color: var(--sl-color-gray-15);
}

/* Code blocks */
.xena-theme-dark .markdown-section pre,
.xena-theme-dark .code-block__source {
  background-color: hsl(var(--sl-color-gray-hue), var(--sl-color-gray-saturation), 13%);
}

.xena-theme-dark .markdown-section pre > code {
  color: var(--sl-color-gray-80);
}

.xena-theme-dark .markdown-section pre .token.comment {
  color: var(--sl-color-gray-40);
}

.xena-theme-dark .markdown-section pre .token.prolog,
.xena-theme-dark .markdown-section pre .token.doctype,
.xena-theme-dark .markdown-section pre .token.cdata,
.xena-theme-dark .markdown-section pre .token.operator {
  color: var(--sl-color-gray-70);
}

.xena-theme-dark .markdown-section pre .token.property,
.xena-theme-dark .markdown-section pre .token.keyword,
.xena-theme-dark .markdown-section pre .token.tag,
.xena-theme-dark .markdown-section pre .token.url {
  color: var(--sl-color-primary-65);
}

.xena-theme-dark .markdown-section pre .token.symbol,
.xena-theme-dark .markdown-section pre .token.deleted {
  color: #f92672;
}

.xena-theme-dark .markdown-section pre .token.boolean,
.xena-theme-dark .markdown-section pre .token.constant,
.xena-theme-dark .markdown-section pre .token.selector,
.xena-theme-dark .markdown-section pre .token.attr-name,
.xena-theme-dark .markdown-section pre .token.string,
.xena-theme-dark .markdown-section pre .token.char,
.xena-theme-dark .markdown-section pre .token.builtin,
.xena-theme-dark .markdown-section pre .token.inserted {
  color: var(--sl-color-success-60);
}

.xena-theme-dark .markdown-section pre .token.atrule,
.xena-theme-dark .markdown-section pre .token.attr-value,
.xena-theme-dark .markdown-section pre .token.number,
.xena-theme-dark .markdown-section pre .token.variable {
  color: #c380ff;
}

.xena-theme-dark .markdown-section pre .token.function,
.xena-theme-dark .markdown-section pre .token.class-name {
  color: #ffbb4d;
}

.xena-theme-dark .markdown-section pre .token.regex {
  color: #f8bd5b;
}

.xena-theme-dark .markdown-section pre .token.important {
  color: #fd495f;
}

/* Repo buttons */
.xena-theme-dark .repo-button {
  background-color: var(--sl-color-gray-10);
  border-color: var(--sl-color-gray-25);
  color: var(--sl-color-gray-80);
}

.xena-theme-dark .repo-button--github xena-icon {
  color: var(--sl-color-white);
}

.xena-theme-dark .repo-button:hover {
  background-color: var(--sl-color-gray-15);
  border: solid 1px var(--sl-color-gray-30);
}

.xena-theme-dark .repo-button:focus {
  border-color: var(--sl-color-primary-50);
}
