/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

body {
  margin: 0px;
  padding: 0px;
  font-family: var(--sl-font-sans);
}

sl-drawer.app-container::part(body) {
  padding: 0px;
}

sl-drawer.app-container::part(header) {
  position: absolute;
  width: inherit;
  z-index: var(--sl-z-index-drawer);
}

sl-drawer.app-container {
  --size: 100vh;
}
